/* Standalone palette. Import before tokens.css or use styles/core.css. */
@layer umamichi-colors {
  :root {
    /* from https://harmonizer.evilmartians.com/, hue=213 */
    --theme-100: #d9f9ff;
    --theme-200: #a0f0ff;
    --theme-300: #00e2ff;
    --theme-400: #00ccee;
    --theme-500: #00b0ce;
    --theme-600: #0091ab;
    --theme-700: #00758b;
    --theme-800: #005364;
    --theme-900: #00333f;

    --gray-100: #f4f4f5;
    --gray-200: #e4e4e7;
    --gray-300: #d4d4d8;
    --gray-400: #a1a1aa;
    --gray-500: #71717a;
    --gray-600: #52525b;
    --gray-700: #3f3f46;
    --gray-800: #27272a;
    --gray-900: #18181b;
  }
}
